.homeContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.homeInnerContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 100px);
  width: 100%;
}

.buttonContainer {
  width: 100%;
}

.header {
  color: crimson;
}
