.boardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.boardRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
