.cell {
  background: ghostwhite;
  border: 1px solid crimson;
  color: crimson;
  font-size: 8rem;
  font-weight: bold;
  line-height: 34px;
  height: 10rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10rem;
}

.cell:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .cell {
    font-size: 4rem;
    height: 6rem;
    width: 6rem;
  }
}
