body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 100px);
  justify-content: center;
  text-align: center;
  width: 100%;
}

.game-info {
  margin-left: 20px;
}

.gameBoard {
  width: 100%;
}

.gameButtonContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
