.navbar {
  align-items: center;
  background-color: ghostwhite;
  display: flex;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;
}

ul > li {
  list-style-type: none;
}

.navItem {
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
}

.navItem:hover {
  color: crimson;
  cursor: pointer;
}

.logo {
  height: 100px;
  width: 100px;
}
